<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:security="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/commons::head}"></head>



<body>

<!--Navbar-->
<nav th:replace="~{fragments/commons::navbar}"></nav>

  <!--Table with tests-->
  <section class="p-12">

    <!--Element-->
    <div class="container">
      <div class="bd-example">
        <!--If admin/moderator-->
        <div class="d-flex justify-content-left mt-4 mb-3">
          <a href="/users/add" class="btn btn-primary btn-block w-20" type="submit" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR', 'ROLE_DOCTOR')">
            <i class="bi bi-person-plus"></i>
          </a>
        </div>
        <table class="table table-warning table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">First name</th>
              <th scope="col">Surname</th>
              <th scope="col">Type Of User</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col">Additional Details</th>
              <th scope="col">Options</th>
              <th scope="col">Tests</th>
            </tr>
          </thead>
          <tbody>
            <!--Element-->
            <tr th:each="u: ${getAllUsers}">
              <th scope="row" th:text="*{u.id}"></th>
              <td th:text="*{u.username}"></td>
              <td th:text="*{u.firstName}"></td>
              <td th:text="*{u.surname}"></td>
              <td th:text="*{u.roles.get(0).getUserRole().name()}"></td>
              <td th:text="*{u.email}"></td>
              <td th:text="*{u.address}"></td>
              <td th:text="*{u.additionalDetails}"></td>
              <!--Admin/Moderator/Doctor-->
              <td>

                  <a th:href="@{/users/edit/{id}(id = *{u.id})}" class="btn btn-warning" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                    <i class="bi bi-pen"></i>
                  </a>


                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" sec:authorize="hasRole('ADMIN')">
                  <i class="bi bi-trash"></i>
                </a>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Do you really want to delete the user? This delete all user's tests, results and news. This process cannot be undone.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a th:href="@{/users/delete/{id}(id = *{u.id})}"  class="btn btn-danger" sec:authorize="hasRole('ADMIN')">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>

              </td>
              <td>
                <a th:href="@{/orders/{id}(id=*{u.id})}" class="btn btn-primary" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR', 'ROLE_DOCTOR')">
                <i class="bi bi-eye"></i>
                </a>
              </td>

            </tr>


          </tbody>

        </table>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

<!-- Footer -->
<footer th:replace="~{fragments/commons::footer}">
</footer>

</html>